<form action='/action' method=POST>
  <button type='submit' name='submit' value='add_bookmark'>Add Bookmark</button>
  <button type='submit' name='submit' value='view_bookmark'>View Bookmark</button>
  <button type='submit' name='submit' value='delete_bookmark'>Delete Bookmark</button>
</form>
