<% flash.keys.each do |type| %>
 <div data-alert class=“flash <%= type %> alert-box radius”>
   <%= flash[type] %>
   <a href=“#” class=“close”>&times;</a>
 </div>
<% end %>

<form action='/bookmarks/store'>
    <input type='text' name='title' placeholder="Title">
    <input type='text' name='url' placeholder="URL"/>
    <input type='submit' name='submit'>
</form>
