<form action='/bookmarks/change/<%= @bookmark.id %>' method = post>
    <input type='text' name='title' value= <%= @bookmark.title %>>
    <input type='text' name='url' value= <%= @bookmark.url %>/>
    <input type='submit' name='Submit'>
</form>
